---
import Layout from "../layouts/layout.astro";
import SearchBox from "../components/SearchBox.svelte";
import searchIndex from "../../public/searchIndex.json";
---

<Layout>
  <section class="bg-gray-50">
    <div
      class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
    >
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          Welcome to 
          <strong class="font-extrabold text-orange-600 sm:block">
            Grade Prowl.
          </strong>
        </h1>

        <p class="mt-4 sm:text-xl/relaxed">
          Grade Prowl serves as a way to easily visualize grade distribution data for Clemson University.
        </p>
		<SearchBox client:only data={searchIndex}/>
      </div>
    </div>
  </section>
</Layout>
