---
---

<html lang="en" data-theme="clemson">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grade Prowl</title>
	</head>
	<body>
		<div class="navbar bg-primary">
			<div class="flex-1">
				<a href="/" class="btn btn-ghost font-bold normal-case text-xl 	text-white">Grade Prowl</a>
			</div>
			<div class="flex-none">
				<ul class="menu menu-horizontal px-1">
					<li><a class="font-semibold text-white" href="/courses">Courses</a></li>
					<li><a class="font-semibold text-white" href="/professors">Professors</a></li>
				</ul>
			</div>
		</div>
        <slot />
	</body>
</html>